
.navbar {
    background-color: #382a41;
    align-items: center;
}

#navbarNav {
    justify-content: center;
}

.navbar-nav {
    gap: 30px;
}

.cardBox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#cardBig {
    display: flex;
    justify-content: center;
    background-color: white;
    margin: 40px;
    padding: 20px;
    gap: 40px;
}

#cardBig img {
    width: 200px;
    height: 200px;
}

.advisorytext {
    margin-top: 40px;
}


.card {
    padding: 10px;
    margin: 20px;
}

.navbar-brand {
    font-size: 30px;
    padding-right: 50px;
}

.nav-link {
    color: white;
    transition: ease 0.5s;
    font-size: 24px;
}

.nav-item {
    padding-right: 20px;
}


.buyButton {
    display: flex;
    justify-content: space-between;
    border-color: white;
}

.buyButton p {
    color: black;
    font-size: 20px;
}

.buyButton a {
    color: black;
    background-color: #eec5c2;
    font-size: 20px;
    margin-top: 5px;
    max-height: 45px;
}

.buyButton a:hover {
    background-color: whitesmoke;
    color: black;
}




html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: scroll;
    background-color: #382a41;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'League Spartan', sans-serif;
}

#playButton {
    cursor: pointer;
}

#playButton img {
    width: 100px;
    height: 100px;
    position: fixed;
    bottom: 25px;
    right: 25px;
}


.videoDiosa {
    display: flex;
    justify-content: center;
}

.videoDiosa video {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 80vh;
    object-fit: cover;
}

h1 {
    font-size: 50px;
    line-height: 64px;
    color: #e2cde4;
}

h2 {
    font-size: 46px;
    line-height: 54px;
    color: #e2cde4;
}   

h3 {
    font-size: 30px;
    color: #e2cde4;
}

p {
    font-size: 16px;
    color: #e2cde4;
    margin: 15px 0px 20px 0px;
}

.sectionp1 {
    padding: 40px 80px;
}

.sectionm1 {
    margin: 40px 0;
}

button.normal {
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: #f3eaf7;
    background-color: #fff;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;
    cursor: pointer;
}

button.white {
    font-size: 13px;
    font-weight: 600;
    padding: 11px 18px;
    color: #fff;
    background-color: transparent;
    cursor: pointer;
    border: 1px solid #fff;
    outline: none;
    transition: 0.2s;
}

body {
    width: 100%;
}



#mobile {
    display: none;
    align-items: center;
}

#closed {
    display: none;
}

#product1 {
    text-align: center;
    margin-top: 15px;
}

#product1 .pro {
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 15px 0;
    transition: 0.2s ease;
    position: relative;
}

#product1 .pro:hover {
    box-shadow: 20px 20px 30px , rgba(0, 0, 0, 0.06);
}

#product1 .pro img {
    width: 100%;
    border-radius: 20px;
    display: block;
    margin: 0 auto;
}

#product1 .pro .des {
    text-align: start;
    padding: 10px 0;
    margin: 0 auto;
}

#product1 .pro .des span {
    color: #f3eaf7;
    font-size: 12px;
}

#product1 .pro .des h5 {
    padding-top: 7px;
    font-size: 14px;
    color: #f3eaf7;
}

#product1 .pro .des i {
    font-size: 12px;
    color: rgb(243, 181, 25);
}

#product1 .pro .des h4 {
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color: #d7837d;
}

#icon {
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #e8f6ea;
    color: #d7837d;
    border: 1px solid #cce7d0;
    position: absolute;
    bottom: 20px;
    right: 10px;
}

#product1 .proContainer {
    display: flex;
    margin: auto;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
}



#smBanner {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

#smBanner .bannerBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url(img/banner/b17.jpg);
    min-width: 580px;
    height: 50vh;
    background-size: cover;
    background-position: center;
    margin-bottom: 25px;
    padding: 30px;
}

#smBanner h4 {
    color: #fff;
    font-size: 20px;
    font-weight: 300;
}

#smBanner h2 {
    color: #fff;
    font-size: 28px;
    font-weight: 800;
}

#smBanner span {
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    padding-bottom: 15px;
}

#smBanner .bannerBox:hover button{
    background: #d7837d;
    border: 1px solid #d7837d;
}

#smBanner .bannerBox2 {
    background-image: url(img/banner/b10.jpg);
}

#banner3 .bannerBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url(img/banner/b7.jpg);
    min-width: 30%;
    height: 30vh;
    background-size: cover;
    background-position: center;
    margin-bottom: 20px;
    padding: 20px;
}

#banner3 {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 0 80px;
}

#banner3 h2 {
    color: #fff;
    font-weight: 900;
    font-size: 22px;
}

#banner3 h3 {
    color: #ec544e;
    font-weight: 800;
    font-size: 15px;
}

#banner3 .bannerBox2 {
    background-image: url(img/banner/b4.jpg);
}

#banner3 .bannerBox3 {
    background-image: url(img/banner/b18.jpg);
}



footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #382a41;
}

footer .col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

footer .logo {
    margin-bottom: 30px;
} 

footer h4 {
    font-size: 14px;
    padding-bottom: 20px;
    color: #f3eaf7;
}

footer p {
    font-size: 13px;
    margin: 0 0 8px 0;
}

footer a {
    font-size: 13px;
    text-decoration: none;
    color: #e2cde4;
    margin-bottom: 10px;
}

footer .follow {
    margin-top: 20px;
}

footer .follow i {
    color: #e2cde4;
    padding-right: 4px;
    cursor: pointer;
}

footer .install .row img {
    border: 1px solid #d7837d;
    border-radius: 6px;
}

footer .install img {
    margin: 10px 0 15px 0;
}

footer .follow i:hover,
footer a:hover {
    color: #d7837d;
}

footer .copyright {
    width: 100%;
    text-align: center;
}

/* Press Page */

#pageHeader {
    background-image: url(img/diosa1.webp);
    width: 100%;
    height: 40vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 14px;
}

#pageHeader h2,
#pageHeader p {
    color: #fff;
}

/* Blog Page */

#pageHeader.blogHeader {
    background-image: url(img/diosa3.webp);
}

#blog {
    padding: 150px 150px 0 150px;
}

#blog .blogBox {
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
    padding-bottom: 90px;
}

#blog .blogImage {
    width: 50%;
    margin-right: 40px;
}

#blog img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

#blog .blogDetails {
    width: 50%;
}

#blog .blogDetails a {
    text-decoration: none;
    font-size: 11px;
    color: #f3eaf7;
    font-weight: 700;
    position: relative;
    transition: 0.3s;
}

#blog .blogDetails a::after {
    content: "";
    width: 50px;
    height: 1px;
    background-color: #f3eaf7;
    position: absolute;
    top: 4px;
    right: -60px;
}

#blog .blogDetails a:hover {
    color: #d7837d;
}

#blog .blogDetails a:hover::after {
    background-color: #d7837d;
}

#blog .blogBox h1 {
    position: absolute;
    top: -40px;
    left: 0;
    font-size: 70px;
    font-weight: 700;
    color: #c9cbce;
    z-index: 1;
}

/* Shop Page  */

#pageHeader.aboutHeader {
    background-image: url(img/diosa4.webp);
    width: 100%;
}

#pageHeader.aboutHeader2 {
    background-image: url(img/sale.jpg);
}


#aboutHead .img1 {
    display: none;
}

#aboutHead {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    opacity: 70%;
}

#aboutHead:hover {
    opacity: 100%;
    transition: opacity 1s;
}

#aboutHead div {
    padding-left: 10px;
    padding-right: 10px;
}

#aboutHead a {
    text-decoration: none;
    color: #d7837d;
}

#aboutHead p {
    font-size: calc(10px + 0.390625vw)
}

/* Contact Page */

#contactDetails {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#pageHeader.contactHeader {
    background-image: url(img/diosa5.webp);
}

#pageHeader.contactHeader2 {
    background-image: url(img/diosa2.webp);
}

#contactDetails .details {
    width: 40%;
}

#contactDetails .details span,
#formDetails form span {
    font-size: 12px;
    color: #f3eaf7;
}

#contactDetails .details h2,
#formDetails form h2 {
    font-size: 26px;
    line-height: 35px;
    padding: 20px 0;
}

#contactDetails .details h3 {
    font-size: 16px;
    padding-bottom: 15px;
}

#contactDetails .details li {
    list-style: none;
    display: flex;
    padding: 10px 0;
}

#contactDetails .details li i {
    font-size: 14px;
    padding-right: 22px;
}

#contactDetails .details li p {
    margin: 0;
    font-size: 14px;
}

#contactDetails .map {
    width: 55%;
    height: 400px;
}

#contactDetails iframe {
    width: 100%;
    height: 100%;
}

#formDetails form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#formDetails form input,
#formDetails form textarea {
    width: 55%;
    padding: 12px 15px;
    outline: none;
    margin-bottom: 20px;
    border: 1px solid #e1e1e1;
}

#formDetails form button {
    background-color: #d7837d;
    color: #fff;
}

.panel{
    display: flex;
    justify-content: space-evenly;    
    align-items: center;
    padding: 25px;
    margin: 25px;
    border: 1px solid #f3eaf7;
    border-radius: 40px;
    background-color: rgba(215, 131, 125, 0.25);
    backdrop-filter: blur(50px);
}

.panelText a {
    text-decoration: none;
    color: #f3eaf7;
    transition: 0.3s;
}
.panelText a:hover {
    color: #d7837d;
}

.panelText a:hover::after {
    background-color: #d7837d;
}

.panelImg img {
    width: 60%;
    border-radius: 25px;
}

/* Advisory page  */

#pageHeader.advisoryHeader {
    background-image: url(img/shopping.webp);
    width: 100%;
}


@media (max-width: 477px) {
    
    body {
        overflow-x: hidden;
    }

    .sectionp1 {
        padding: 20px;
    }

    .videoDiosa video{
        width: 100%;
    }

    #header {
        padding: 15px 15px;
        width: 100%;
        text-align: center;
        overflow: scroll;
    }

    #navi {
        width: 100%;
        text-align: center;
    }

    #h2 {
        font-size: 32px;
    }

    h1 {
        font-size: 38px;
    }

    #product1 .pro {
        width: 100%;
    }

    #banner {
        height: 30vh;
        margin-bottom: 15px;
    }

    #banner3 {
        width: 100%;
    }

    #newsletter {
        padding: 40px 20px;
    }

    #newsletter .form {
        width: 100%;
    }

    #cardBig {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #cardBig img {
        margin-right: 0;
    }


    /* Blog Page */

    #blog {
        padding: 100px 20px 0 20px;
    }

    #blog .blogBox {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    #blog .blogImage {
        width: 100%;
        margin-right: 0px;
        margin-bottom: 30px;
        z-index: 0;
    }

    #blog .blogDetails {
        width: 100%;
    }


    /* About Page */

    #aboutHead {
        flex-direction: column;
        opacity: 1;
    }

    #aboutHead img {
        width: 100%;
        margin-bottom: 20px;
    }

    #aboutHead .img2 {
        display: none;
    }

    #aboutHead .img1 {
        display: inline;
    }

    #aboutHead div {
        padding-left: 0px;
    }

    /* Contact Page */

    #contactDetails {
        flex-direction: column;
    }

    #contactDetails .details {
        width: 100%;
        margin-bottom: 30px;
    }

    #contactDetails .map {
        width: 100%;
        margin-bottom: 30px;
    }

    #navbarNav {
        justify-content: center;
        padding-top: 20px;
    }
    
    .navbar-nav {
        gap: 0px;
    }
}


@media (min-width: 799px) and (max-width: 1080px) {

    .sectionp1{
        padding: 40px 40px;
    }

    .videoDiosa video{
        width: 100%;
    }


    #navi {
        display: flex;
        align-items: center;
        justify-items: auto;
    }

    #product1 .proContainer {
        display: flex;
        justify-content: space-between;
    }

    #product1 .pro{
        margin: 15px;
    }

    #banner {
        height: 20vh;
    }

    #smBanner .bannerBox {
        min-width: 100%;
        height: 30vh;
    }

    #banner3 {
        padding: 0 40px;
    }

    #newsletter .form {
        width: 70%;
    } 

    #navbarNav {
        justify-content: center;
        padding-top: 20px;
    }
    
    .navbar-nav {
        gap: 0px;
    }
}

@media (min-width: 478px) and (max-width: 798px) {

    #navbarNav {
        justify-content: center;
        padding-top: 20px;
    }
    
    .navbar-nav {
        gap: 0px;
    }
}