html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: scroll;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'League Spartan', sans-serif;
}

#playButton {
    cursor: pointer;
}

#playButton img {
    width: 100px;
    height: 100px;
    position: fixed;
    bottom: 25px;
    right: 25px;
}

.swiperbg {
    width: 100%;
    height: 85vh;
    background-image: url(img/passarella.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.swiper {
    width: 50%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    }

    .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
}

h1 {
    font-size: 50px;
    line-height: 64px;
    color: #222;
}

h2 {
    font-size: 46px;
    line-height: 54px;
    color: #222;
}   

h3 {
    font-size: 30px;
    color: #222;
}

p {
    font-size: 16px;
    color: #465b52;
    margin: 15px 0px 20px 0px;
}

.sectionp1 {
    padding: 40px 80px;
}

.sectionm1 {
    margin: 40px 0;
}

button.normal {
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: #000;
    background-color: #fff;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;
}

button.white {
    font-size: 13px;
    font-weight: 600;
    padding: 11px 18px;
    color: #fff;
    background-color: transparent;
    cursor: pointer;
    border: 1px solid #fff;
    outline: none;
    transition: 0.2s;
}

body {
    width: 100%;
}


#header {
    display: flex; 
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background-color: #e3e6f3;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;

}

#navi {
    display: flex; 
    align-items: center;
    justify-content: center;
}

#navi li {
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navi li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
    transition: 0.3s ease;
}

#navi li a:hover,
#navi li a.active {
    color: #d7837d;
}

#navi li a.active::after,
#navi li a:hover::after {
    content: "";
    width: 20%;
    height: 1px;
    background: #d7837d;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

#mobile {
    display: none;
    align-items: center;
}

#closed {
    display: none;
}

#hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    margin-bottom: 15px;
}

#hero h3 {
    padding-bottom: 15px;
    color: #c9cbce;
}

#hero h1 {
    color: #d7837d;
}

.row1 {
    width: 30%;
    display: flex;
    justify-content: space-between;
}

.row2 {
    width: 45%;
    display: flex;
    justify-content: space-between;
}

.row3 {
    width: 60%;
    display: flex;
    justify-content: space-between;
}

.pillar1 {
    width: 30%;
    animation: frame2 5s linear infinite;
}
.pillar2 {
    width: 30%;
    animation: frame 5s linear infinite;
}
.pillar3 {
    width: 30%;
    animation: frame2 5s linear infinite;
}
.pillar4 {
    width: 30%;
    animation: frame 5s linear infinite;
}
.pillar5 {
    width: 30%;
    animation: frame2 5s linear infinite;
}
.pillar6 {
    width: 30%;
    animation: frame 5s linear infinite;
}

.model {
    display: flex;
    padding-bottom: 30px;
    margin-top: 15px;
}

@keyframes frame {
    0% {
        transform: scale(.9);
        opacity: 0;
    }
    20% {
        transform: scale(1);
        opacity: 1;
    }
    80% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: translateX(100px);
        opacity: 0;
    }
}

@keyframes frame2 {
    0% {
        transform: scale(.9);
        opacity: 0;
    }
    20% {
        transform: scale(1);
        opacity: 1;
    }
    80% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: translateX(-100px);
        opacity: 0;
    }
}

#videoyt {
    display: flex;
    align-items: center;
}

.videoDiosa {
    display: flex;
    width: 100%;
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

#feature {
    padding: 40px 80px;
}

#feature .fBox {
    width: 180px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
    border: 1px solid #cce7d0;
    border-radius: 4px;
    margin: 15px 0;
}

#feature .fBox img {
    width: 100%;
    margin-bottom: 10px;
}

#feature .fBox:hover {
    box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.1);
}

#feature .fBox h6 {
    display: inline-block;
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    color: #d7837d;
    background-color: #fddde4;
}

#feature .fBox:nth-child(2) h6 {
    background-color: #cdebbc;
}
#feature .fBox:nth-child(3) h6 {
    background-color: #d1e8f2;
}
#feature .fBox:nth-child(4) h6 {
    background-color: #cdd4f8;
}
#feature .fBox:nth-child(5) h6 {
    background-color: #f6dbf6;
}
#feature .fBox:nth-child(6) h6 {
    background-color: #fff2e5;
}

#feature {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

#product1 {
    text-align: center;
}


#product1 .pro {
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 15px 0;
    transition: 0.2s ease;
    position: relative;

}

#product1 .pro:hover {
    box-shadow: 20px 20px 30px , rgba(0, 0, 0, 0.06);
}

#product1 .pro img {
    width: 100%;
    border-radius: 20px;
}

#product1 .pro .des {
    text-align: start;
    padding: 10px 0;

}

#product1 .pro .des span {
    color: #606063;
    font-size: 12px;
}

#product1 .pro .des h5 {
    padding-top: 7px;
    font-size: 14px;
    color: #1a1a1a;
}

#product1 .pro .des i {
    font-size: 12px;
    color: rgb(243, 181, 25);
}

#product1 .pro .des h4 {
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color: #d7837d;
}

#icon {
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #e8f6ea;
    color: #d7837d;
    border: 1px solid #cce7d0;
    position: absolute;
    bottom: 20px;
    right: 10px;
}

#product1 .proContainer {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
}

#banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(img/banner/b2.jpg);
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-position: center;
    margin-bottom: 25px;
}

#banner h4 {
    color: #fff;
    font-size: 16px;
}

#banner h2 {
    color: #fff;
    font-size: 30px;
    padding: 10px 0;
}

#banner h2 span {
    color: #ef3636;
}

#banner button:hover{
    background-color: #d7837d;
    color: #fff;
}

#smBanner {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

#smBanner .bannerBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url(img/banner/b17.jpg);
    min-width: 580px;
    height: 50vh;
    background-size: cover;
    background-position: center;
    margin-bottom: 25px;
    padding: 30px;
}

#smBanner h4 {
    color: #fff;
    font-size: 20px;
    font-weight: 300;
}

#smBanner h2 {
    color: #fff;
    font-size: 28px;
    font-weight: 800;
}

#smBanner span {
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    padding-bottom: 15px;
}

#smBanner .bannerBox:hover button{
    background: #d7837d;
    border: 1px solid #d7837d;
}

#smBanner .bannerBox2 {
    background-image: url(img/banner/b10.jpg);
}

#banner3 .bannerBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url(img/banner/b7.jpg);
    min-width: 30%;
    height: 30vh;
    background-size: cover;
    background-position: center;
    margin-bottom: 20px;
    padding: 20px;
}

#banner3 {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 0 80px;
}

#banner3 h2 {
    color: #fff;
    font-weight: 900;
    font-size: 22px;
}

#banner3 h3 {
    color: #ec544e;
    font-weight: 800;
    font-size: 15px;
}

#banner3 .bannerBox2 {
    background-image: url(img/banner/b4.jpg);
}

#banner3 .bannerBox3 {
    background-image: url(img/banner/b18.jpg);
}

#newsletter {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-image: url(img/banner/b14.png);
    background-repeat: no-repeat;
    background-position: 20% 30%;
    background-color: #041e42;
}

#newsletter h4 {
    font-size: 22px;
    font-weight: 700;
    color: #fff;
}

#newsletter p {
    font-size: 14px;
    font-weight: 600;
    color: #818ea0;
}

#newsletter p span {
    color: #ffbd27;
}

#newsletter .form {
    display: flex;
    width: 40%;
}

#newsletter input {
    height: 3.125rem;
    padding: 0 1.25em;
    font-size: 14px;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#newsletter button {
    background-color: #d7837d;
    color: white;
    white-space: nowrap;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer .col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

footer .logo {
    margin-bottom: 30px;
} 

footer h4 {
    font-size: 14px;
    padding-bottom: 20px;
}

footer p {
    font-size: 13px;
    margin: 0 0 8px 0;
}

footer a {
    font-size: 13px;
    text-decoration: none;
    color: #222;
    margin-bottom: 10px;
}

footer .follow {
    margin-top: 20px;
}

footer .follow i {
    color: #465b52;
    padding-right: 4px;
    cursor: pointer;
}

footer .install .row img {
    border: 1px solid #d7837d;
    border-radius: 6px;
}

footer .install img {
    margin: 10px 0 15px 0;
}

footer .follow i:hover,
footer a:hover {
    color: #d7837d;
}

footer .copyright {
    width: 100%;
    text-align: center;
}


@media (max-width: 799px) {

    .sectionp1{
        padding: 40px 40px;
    }

    #navi {
        display: flex;
        align-items: center;
        justify-items: auto;
    }

    #mobile {
        display: flex;
        align-items: center;
    }
    
    #mobile i {
        color: #1a1a1a;
        font-size: 20px;
        padding-left: 0px;
    }

    #hero {
        height: 70vh;
        padding: 0 80px;
        background-position: top 30% right 30%;
    }

    #feature {
        justify-content: center;
    }

    #feature fBox {
        margin: 15px 15px;
    }

    #product1 .proContainer {
        justify-content: center;
    }

    #product1 .pro{
        margin: 15px;
    }

    #banner {
        height: 20vh;
    }

    #smBanner .bannerBox {
        min-width: 100%;
        height: 30vh;
    }

    #banner3 {
        padding: 0 40px;
    }

    #newsletter .form {
        width: 70%;
    } 


}

/* Shop Page */

#pageHeader {
    background-image: url(img/diosa1.jpg);
    width: 100%;
    height: 40vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 14px;
}

#pageHeader h2,
#pageHeader p {
    color: #fff;
}

#pagination {
    text-align: center;
}

#pagination a {
    text-decoration: none;
    background-color: #d7837d;
    padding: 15px 20px;
    border-radius: 4px;
    color: #fff;
    font-weight: 600;
}

#pagination a i {
    font-size: 16px;
    font-weight: 600;
}



/* Single Product */

#prodetails {
    display: flex;
    margin-top: 20px;
}

#prodetails .singleProimage{
    width: 40%;
    margin-right: 50px;
}

.smallImgGroup {
    display: flex;
    justify-content: space-between;
}

.smallImgCol {
    flex-basis: 24%;
    cursor: pointer;
}

#prodetails .singleProDetails {
    width: 50%;
    padding-top: 30px;
}

#prodetails .singleProDetails h4 {
    padding: 40px 0 20px 0;
}

#prodetails .singleProDetails h2 {
    font-size: 26px;
}

#prodetails .singleProDetails select {
    display: block;
    padding: 5px 10px;
    margin-bottom: 10px;
}

#prodetails .singleProDetails input {
    width: 50px;
    height: 47px;
    padding-left: 10px;
    font-size: 16px;
    margin-right: 10px;
}

#prodetails .singleProDetails input:focus {
    outline: none;
}

#prodetails .singleProDetails button {
    background-color: #d7837d;
    color: #fff;
}

#prodetails .singleProDetails span {
    line-height: 25px;
}

/* Blog Page */

#pageHeader.blogHeader {
    background-image: url(img/diosa3.jpg);
}

#blog {
    padding: 150px 150px 0 150px;

}

#blog .blogBox {
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
    padding-bottom: 90px;
}

#blog .blogImage {
    width: 50%;
    margin-right: 40px;
}

#blog img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

#blog .blogDetails {
    width: 50%;
}

#blog .blogDetails a {
    text-decoration: none;
    font-size: 11px;
    color: #000;
    font-weight: 700;
    position: relative;
    transition: 0.3s;
}

#blog .blogDetails a::after {
    content: "";
    width: 50px;
    height: 1px;
    background-color: #000;
    position: absolute;
    top: 4px;
    right: -60px;
}

#blog .blogDetails a:hover {
    color: #d7837d;
}

#blog .blogDetails a:hover::after {
    background-color: #d7837d;
}

#blog .blogBox h1 {
    position: absolute;
    top: -40px;
    left: 0;
    font-size: 70px;
    font-weight: 700;
    color: #c9cbce;
    z-index: -9;
}


/* About Page  */

#pageHeader.aboutHeader {
    background-image: url(img/diosa4.jpg);
}

#aboutHead img {
    width: 30%;
    height: auto;
    border-radius: 15%;
}

#aboutHead {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    opacity: 70%;
}

#aboutHead:hover {
    opacity: 100%;
    transition: opacity 1s;
}

#aboutHead div {
    padding-left: 40px;
    padding-right: 40px;
}


#aboutHead a {
    text-decoration: none;
    color: #d7837d;
}

#aboutHead p {
    font-size: calc(15px + 0.390625vw)
}

#aboutVideo {
    text-align: center;
}

#aboutVideo .video {
    width: 70%;
    height: 100%;
    margin: 30px auto 0 auto;
}

#aboutVideo .video video {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

/* Contact Page */

#contactDetails {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#pageHeader.contactHeader {
    background-image: url(img/diosa5.jpg);
}

#pageHeader.contactHeader2 {
    background-image: url(img/diosa2.jpg);
}

#contactDetails .details {
    width: 40%;
}

#contactDetails .details span,
#formDetails form span {
    font-size: 12px;
}

#contactDetails .details h2,
#formDetails form h2 {
    font-size: 26px;
    line-height: 35px;
    padding: 20px 0;
}

#contactDetails .details h3 {
    font-size: 16px;
    padding-bottom: 15px;
}

#contactDetails .details li {
    list-style: none;
    display: flex;
    padding: 10px 0;
}

#contactDetails .details li i {
    font-size: 14px;
    padding-right: 22px;
}

#contactDetails .details li p {
    margin: 0;
    font-size: 14px;
}

#contactDetails .map {
    width: 55%;
    height: 400px;
}

#contactDetails iframe {
    width: 100%;
    height: 100%;
}


#formDetails form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#formDetails form input,
#formDetails form textarea {
    width: 55%;
    padding: 12px 15px;
    outline: none;
    margin-bottom: 20px;
    border: 1px solid #e1e1e1;
}

#formDetails form button {
    background-color: #d7837d;
    color: #fff;
}


/* Cart Page */

#cart {
    overflow-x: auto;
}

#cart table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    white-space: nowrap;
}

#cart table img {
    width: 70px;
}

#cart table td:nth-child(1) {
    width: 100px;
    text-align: center;
}

#cart table td:nth-child(2) {
    width: 150px;
    text-align: center;
}

#cart table td:nth-child(3) {
    width: 250px;
    text-align: center;
}

#cart table td:nth-child(4),
#cart table td:nth-child(5),
#cart table td:nth-child(6) {
    width: 150px;
    text-align: center;
}

#cart table td:nth-child(5) input {
    width: 70px;
    padding: 10px 5px 10px 15px;
}

#cart table thead {
    border: 1px solid #e2e9e1;
    border-left: none;
    border-right: none;
}

#cart table thead td {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 13px;
    padding: 18px 0;
}

#cart table tbody tr td {
    padding-top: 15px;
}

#cart table tbody td {
    font-size: 18px;
}


#cartAdd {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#coupon {
    width: 50%;
    margin-bottom: 30px;
}

#coupon h3,
#subtotal h3 {
    padding-bottom: 15px;
}

#coupon input {
    padding: 10px 20px;
    outline: none;
    width: 60%;
    margin-right: 10px;
    border: 1px solid #e2e9e1;
}

#coupon button,
#subtotal button {
    background-color: #d7837d;
    color: #fff;
    padding: 12px 20px;
}

#subtotal {
    width: 50%;
    margin-bottom: 30px;
    border: 1px solid #e2e9e1;
    padding: 30px;
}

#subtotal table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
}

#subtotal table td {
    width: 50%;
    border: 1px solid #e2e9e1;
    padding: 10px;
    font-size: 13px;
}



@media (max-width: 477px) {
    
    .sectionp1 {
        padding: 20px;
    }

    #header {
        padding: 15px 15px;
        width: 100%;
        text-align: center;
        overflow: scroll;
    }

    #navi {
        width: 100%;
        text-align: center;
    }

    #h2 {
        font-size: 32px;
    }

    h1 {
        font-size: 38px;
    }

    .row1 {
        width: 60%;
    }
    .row2 {
        width: 80%;
    }
    .row3 {
        width: 100%;
    }


    #feature {
    justify-content: space-between;
    }

    #feature .fBox {
        width: 100%;
        margin: 0 0 5px 0;
    }

    #product1 .pro {
        width: 100%;
    }

    #banner {
        height: 30vh;
    }

    #banner3 {
        width: 100%;
    }

    #newsletter {
        padding: 40px 20px;
    }

    #newsletter .form {
        width: 100%;
    }

/* single product */

    #prodetails {
    display: flex;
    flex-direction: column;
    }

    #prodetails .singleProimage{
    width: 100%;
    margin-right: 0px;
    }

    #prodetails .singleProDetails {
    width: 100%;
    }

    /* Blog Page */

    #blog {
        padding: 100px 20px 0 20px;
    }

    #blog .blogBox {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    #blog .blogImage {
        width: 100%;
        margin-right: 0px;
        margin-bottom: 30px;
    }

    #blog .blogDetails {
        width: 100%;
    }


    /* About Page */

    #aboutHead {
        flex-direction: column;
        opacity: 1;
    }

    #aboutHead img {
        width: 100%;
        margin-bottom: 20px;
    }

    #aboutHead div {
        padding-left: 0px;
    }

    #aboutVideo .video {
        width: 100%;
    }

    /* Contact Page */

    #contactDetails {
        flex-direction: column;
    }

    #contactDetails .details {
        width: 100%;
        margin-bottom: 30px;
    }

    #contactDetails .map {
        width: 100%;
        margin-bottom: 30px;
    }


    /* Cart Page */

    #cartAdd {
        flex-direction: column;
    }

    #coupon {
        width: 100%;
        margin-top: 30px;
    }

    #subtotal {
        width: 100%;
        padding: 20px;
    }


}

/* --------------- Products ---------------- */

.products {
    padding: 4rem 0;
  }
  .section-title h2 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 5rem;
    text-transform: capitalize;
    letter-spacing: var(--mainSpacing);
  }
  .products-center {
    width: 90vw;
    margin: 0 auto;
    max-width: 1170px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    grid-column-gap: 1.5rem;
    grid-row-gap: 2rem;
  }
  .img-container {
    position: relative;
    overflow: hidden;
  }
  .bag-btn {
    position: absolute;
    top: 70%;
    right: 0;
    background: var(--primaryColor);
    border: none;
    text-transform: uppercase;
    padding: 0.5rem 0.75rem;
    letter-spacing: var(--mainSpacing);
    font-weight: bold;
    transition: var(--mainTransition);
    transform: translateX(101%);
    cursor: pointer;
  }
  .bag-btn:hover {
    color: var(--mainWhite);
  }
  .fa-shopping-cart {
    margin-right: 0.5rem;
  }
  .img-container:hover .bag-btn {
    transform: translateX(0);
  }
  .product-img {
    display: block;
    width: 100%;
    min-height: 12rem;
    transition: var(--mainTransition);
  }
  .img-container:hover .product-img {
    opacity: 0.5;
  }
  
  .product h3 {
    text-transform: capitalize;
    font-size: 1.1rem;
    margin-top: 1rem;
    letter-spacing: var(--mainSpacing);
    text-align: center;
  }
  
  .product h4 {
    margin-top: 0.7rem;
    letter-spacing: var(--mainSpacing);
    color: var(--primaryColor);
    text-align: center;
  }
  
  /* ---------------End of Products ---------------- */

  /* --------------- Cart ---------------- */
.cart-overlay {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    transition: var(--mainTransition);
    background: rgb(215, 131, 125, 0.5);
    z-index: 2;
    visibility: hidden;
  }
  .cart {
    position: fixed;
    top: 50px;
    right: 0;
    width: 100%;
    height: 100%;
    overflow: scroll;
    z-index: 3;
    background: rgb(231, 226, 221);
    padding: 1.5rem;
    transition: var(--mainTransition);
    transform: translateX(100%);
  }
  .showCart {
    transform: translateX(0);
  }
  .transparentBcg {
    visibility: visible;
  }
  @media screen and (min-width: 768px) {
    .cart {
    width: 30vw;
    min-width: 450px;
    }
  }
  
  .close-cart {
    font-size: 2.5rem;
    cursor: pointer;
  }
  .cart h2 {
    text-transform: capitalize;
    text-align: center;
    letter-spacing: var(--mainSpacing);
    margin-bottom: 2rem;
  }
  /*---------- Cart Item -------------------- */
  .cart-item {
    display: grid;
    align-items: center;
    grid-template-columns: auto 1fr auto;
    grid-column-gap: 1.5rem;
    margin: 1.5rem 0;
  }
  .cart-item img {
    width: 75px;
    height: 75px;
  }
  .cart-item h4 {
    font-size: 0.85rem;
    text-transform: capitalize;
    letter-spacing: var(--mainSpacing);
  }
  .cart-item h5 {
    margin: 0.5rem 0;
    letter-spacing: var(--mainSpacing);
  }
  .item-amount {
    text-align: center;
  }
  .remove-item {
    color: grey;
    cursor: pointer;
  }
  .fa-chevron-up,
  .fa-chevron-down {
    color: var(--primaryColor);
    cursor: pointer;
  }
  /*---------- End of Cart Item -------------------- */
  
  .cart-footer {
    margin-top: 2rem;
    letter-spacing: var(--mainSpacing);
    text-align: center;
  }
  .cart-footer h3 {
    text-transform: capitalize;
    margin-bottom: 1rem;
  }
  
  /* --------------- End of Cart ---------------- */

.panel{
    display: flex;
    justify-content: center;    
    align-items: center;
    padding: 25px;
    margin: 25px;
    border: 1px solid rgba(000,000,000,0.5);
    border-radius: 40px;
    background-color: rgba(215, 131, 125, 0.25);
    backdrop-filter: blur(50px);
}

.panelText a {
    text-decoration: none;
    color: #000;
    transition: 0.3s;
}
.panelText a:hover {
    color: #d7837d;
}

.panelText a:hover::after {
    background-color: #d7837d;
}

.panelImg img {
    width: 60%;
    border-radius: 25px;
}
